.head {
  padding: 180px 0 100px 0;
  background: #f2f2f2;
}

.headArea {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  align-items: center;
}
.summary {
  order: 1;
}
.photo {
  order: 2;
  width: 100%;
}

@media screen and (max-width: 736px) {
  .headArea {
    display: block;
  }
  .photo {
    margin-bottom: 32px;
  }
}

.body {
  background: #fff;
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 0;
}

.body li {
  list-style: disc;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: #585469;
  margin-left: 2em;
}
