.head {
  padding: 180px 0 100px 0;
  background: #f2f2f2;
}

.headArea {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  align-items: center;
}
.summary {
  order: 1;
}
.photo {
  order: 2;
  width: 100%;
}

/* Body */
.body {
  background: #fff;
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  padding: 100px 0;
}

.body li {
  list-style: disc;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: #585469;
  margin-left: 2em;
}

/* Recent Posts */
.others {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(3, max-content);
}
.othersTitle {
  grid-column: 1 / 2;
  grid-row: 1/2;
}
/* Back Home */
.backHome {
  grid-column: 2 / 3;
  grid-row: 1/2;
  padding: 0;
  margin: 0;
}
.othersContainer {
  grid-column: 1 / 3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.otherPost {
  width: 45%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.otherPost:hover {
  opacity: 0.5;
  transform: scale(0.99, 0.99);
}

@media screen and (max-width: 736px) {
  .headArea {
    display: block;
  }
  .photo {
    margin-bottom: 32px;
  }
  .otherPost {
    width: 100%;
    padding-bottom: 32px;
  }
  .backHome {
    grid-column: 1 / 2;
    grid-row: 3/4;
  }
}
