.flexBox {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  padding: 100px 0;
}

.category {
  position: sticky;
  top: 180px;
  align-self: flex-start;
  width: 120px;
  margin-top: 8px;
}

.tagItem {
  padding: 0;
  margin: 0 0 8px 0;
}

.posts {
  width: calc(100% - 120px);
  box-sizing: border-box;
  padding-left: 50px;
}

@media screen and (max-width: 600px) {
  .category {
    display: none;
  }
  .posts {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}
