html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  margin: 0;
  padding: 0;
}

/* font */
h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  letter-spacing: 0.05em;
  margin: 0 0 32px 0;
  padding: 0;
  color: #333333;
}
h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #333333;
  padding: 16px 0 24px 0;
  margin: 0;
}
h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 0.05em;
  color: #333333;
  padding: 8px 0;
  margin: 0;
}
p,
a {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: #585469;
  padding: 8px 0 32px 0;
  margin: 0;
}
a {
  text-decoration: "underline";
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
