.card {
  padding: 0;
  margin-bottom: 48px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card:hover {
  opacity: 0.5;
  transform: scale(0.99, 0.99);
}

.title {
  padding: 8px 0;
  margin: 0;
}

.desc {
  padding: 8px 0;
  margin: 0;
}

.date {
  padding: 8px 0;
  margin: 0;
}
